body {
    font-family: 'Montserrat', sans-serif;
    background: #ececec;
    padding: 0;
    margin: 0;
}

h1 {
    color: #000000;
    text-align: center;
}

label {
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #398e3d;
    color: #fff;
}

select {
    padding: 5px;
}

/* Agrega el resto de tu estilo aquí */

/* Estilo para el contenedor principal */
.container {
    display: flex;
    margin: 20px;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: linear-gradient(#ffffff, rgb(255, 255, 255));
}

/* Estilo del logotipo */
.logo img {
    max-height: 50px;
}

/* Estilo de los enlaces del menú */
.nav-links {
    list-style: none;
    margin: 10px;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.nav-links a::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    z-index: -1;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}

.nav-links a:hover::before {
    background-color: #c7e5c8;
}

/* Estilo para el carrusel de imágenes */
/* ... (si es necesario) */
.menu-icon {
    display: none; /* Inicialmente oculto en pantallas grandes */
    cursor: pointer;
    font-size: 24px;
}
/* Media Query para pantallas pequeñas */
@media only screen and (max-width: 768px) {
    .navbar {
        padding: 10px 20px;
    }

    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
        z-index: 1;
        display: none; /* Oculto por defecto en pantallas pequeñas */
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        margin-bottom: 10px;
    }

    .nav-links a {
        padding: 15px; /* Aumenta el tamaño del área de clic para enlaces */
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        font-size: 24px;
        margin-right: 20px; /* Agrega un espacio entre el ícono y otros elementos */
    }

}

