body {
    font-family: 'Montserrat', sans-serif;
    background: #ececec;
    padding: 0;
    margin: 0;
}

/* Estilo de la barra de navegación */
.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: linear-gradient(#ffffff, rgb(255, 255, 255));
}

/* Estilo del logotipo */
.logo img {
    max-height: 50px;
}

/* Estilo de los enlaces del menú */
.nav-links {
    list-style: none;
    margin: 10px;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.nav-links a::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    z-index: -1;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}

.nav-links a:hover::before {
    background-color: #c7e5c8;
}
/* Estilo para el contenedor principal */
.container {
    display: flex;
    margin: 20px;
}

/* Estilo para la barra lateral (sidebar) */
.sidebar {
    width: 250px;
    height: 81%;
    background-color: #ffffff;
    position: fixed;
    overflow: hidden;
}

/* Estilo para las secciones en la barra lateral */
.sidebar h2 {
    color: #000000;
    text-align: center;
    padding: 15px 0;
}

.section ul {
    list-style: none;
    padding: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li:hover {
    background-color: #39f9dc; /* Cambia el fondo a negro al pasar el cursor */
    color: #ffffff; /* Cambia el color del texto a blanco al pasar el cursor */
}

.sidebar ul li a {
    color: #000000;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.content {
    margin-left: 270px;
    padding: 20px;
}
.bottom-bar {
    background-color: #000000;
    text-align: center;
    padding: 10px 0;
}
.btn {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
/* Estilo para el carrusel de imágenes (debes agregar la lógica para cambiar las imágenes) */
/* Estilo para el carrusel de imágenes */
.image-carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #f5f5f5;
}

.carousel {
    display: flex;
    width: 300%; /* Ancho total = número de imágenes x 100% */
}

.carousel-item {
    width: 33.33%; /* Ancho de cada imagen = 100% / número de imágenes */
    height: 380px; /* Ajusta la altura según tus necesidades */
    position: relative;
    text-align: center;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 2s;
}

.carousel-item:hover img {
    transform: scale(1.1); /* Escalar la imagen al pasar el cursor */
}

.carousel-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s;
}

.carousel-item:hover .carousel-info {
    opacity: 1; /* Mostrar información al pasar el cursor */
}

.carousel-info h3, .carousel-info p {
    color: #fff;
    margin: 5px;
}

.carousel-info button {
    background-color: #000000;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    margin: 1px;
    text-align: initial;
}

.carousel-controls {
    text-align: initial;
}

.prev, .next {
    background-color: #4CAF50;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}


/* Estilo para los botones de reserva */
.buttons {
    margin-top: 20px;
}

.reserve-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.reserve-button:hover {
    background-color: #45a049;
}
.slide {
    width: 100%;
    display: none;
    background-size: 1025px 350px;
}
.menu-icon {
    display: none; /* Inicialmente oculto en pantallas grandes */
    cursor: pointer;
    font-size: 24px;
}
@media only screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
        z-index: 1;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        font-size: 24px;
    }
}