body {
    font-family: Verdana, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-margin-top: 50px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1300px;
    margin: 0 auto;
    padding: 1%;
    background-color: #f0f8e8;
}

.carousel {
    width: 100%;
    position: fixed;
    padding: auto;
}

.slide {
    width: 100%;
    display: none;
    background-size: 1025px 350px;
}

.content {
    width: 45%;
    text-align: center;
}

h1 {
    font-size: 24px;
}

.button {
    margin-top: 20px;
}

.button a {
    display: inline-block;
    background-color: #4cae4f;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.button a:hover {
    background-color: #53c468;
}

.professionals-box { /* Color de fondo sutil */
    padding: 80px 20px; /* Borde sutil */
    border-radius: 5px;
    text-align: center;
}

h2 {
    font-size: 20px;
}


.navbar {
    background-color: #000000; /* Fondo verde del menú */
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo img {
    max-height: 9px; /* Ajusta el tamaño del logotipo */

}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #000000; /* Color del texto de los enlaces */
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}


.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: linear-gradient(#ffffff, rgb(255, 255, 255));
}

.logo img {
    max-height: 50px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}



.carousel {
    width: 50%;
    position: relative;
}

.slide {
    width: 100%;
    display: none;
}

.content {
    width: 45%;
    text-align: center;
}

h1 {
    font-size: 24px;
}


.about {
    text-align: center;
    align-items: center;
    justify-content: space-around;
    max-width: 1300px;
    margin: 0 auto;
    padding: 6%;
    background-color: #f0f8e8;
}

h2 {
    font-size: 36px;
    margin-top: 30px;
}

p {
    font-size: 18px;
    margin-top: 10px;
}
.features {
    background-color: #fff;
    padding: 80px 0;
}

.feature {
    text-align: center;
    margin: 0 20px;
}

.feature h2 {
    font-size: 2em;
    margin: 20px 0;
}

.feature p {
    font-size: 1.2em;
}
.contact-box {
    width: 300px;
    background-color: #f0f8e8;
    padding: 6%;
    margin: 0 auto;
    text-align: center;
}

.contact-box h2 {
    font-size: 30px;
}

.contact-box p {
    font-size: 16px;
    margin: 10px 0;
}

.contact-box .secretaries {
    text-align: left;
}

.contact-box .social-media {
    text-align: center;
}

.contact-box .social-media a {
    text-decoration: none;
    margin: 0 10px;
}