<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" type="text/css" href="../static/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-........" crossorigin="anonymous" />
</head>

<body>
    <header>
        <div class="navbar" id="navbar">
            <div class="logo">
                <a href="/home">
                    <img src="../static/images/logo.png" alt="Logo Clinica Osorno">
                </a>
            </div>
            <ul class="nav-links" id="navLinks">
                <li><a href="/ayuda"><i class="fas fa-question-circle"></i> Ayuda</a></li>
                <li><a href="/contacto"><i class="fas fa-envelope"></i> Contacto</a></li>
                {% if 'rut' in session %}
                    <li><a href="/mi_clinica"><i class="fas fa-user"></i> {{ session['rut'] }}</a></li>
                    <li><a href="/cerrar_sesion"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a></li>
                {% else %}
                    <li><a href="/login"><i class="fas fa-hospital"></i> MiClínica</a></li>
                {% endif %}
            </ul>
            <div class="menu-icon" id="menuIcon">&#9776;</div>
        </div>
    </header>
        
    <section id="hero">
        <h1>Trabajamos con <br> Isapre y Fonasa</h1>
        <form action="{% if 'rut' in session %}/calendario{% else %}/login{% endif %}">
            <button type="submit">Reservar Ahora</button>
        </form>
        </section>

    <div class="container">
        <div class="sidebar">
            <h2>Servicios</h2>
            <ul>
                <li><a href="/historial_consultas">Historial de Consultas</a></li>
                <li><a href="/calendario">Reservar Hora</a></li>
                <li><a href="#nuestros-doctores">Doctores</a></li>
                <li><a href="/contacto">Centros</a></li>
            </ul>
        </div>
    </div>

    <section id="nuestros-doctores">
        <div class="container">
            <h2>Doctores</h2>
            <div class="doctores">

                <div class="image-container">
                    <img src="../static/images/doctor1.jpeg" alt="Doctor 1">
                    <p>Dr. Israel Sepúlveda <br> Dermatólogo</p>
                </div>

                <div class="image-container">
                    <img src="../static/images/doctor2.jpeg" alt="Doctor 2">
                    <p>Dra. Nathalia Blanke <br> Cardióloga</p>
                </div>

                <div class="image-container">
                    <img src="../static/images/doctor3.jpeg" alt="Doctor 3">
                    <p>Dr. Andres Morales <br>Cirujano General</p>
                </div>

                <div class="image-container">
                    <img src="../static/images/doctor4.jpeg" alt="Doctor 4">
                    <p>Dra. Gabriela Müller <br> Cirujano Ortopédico</p>
                </div>

                <div class="image-container">
                    <img src="../static/images/doctor5.jpeg" alt="Doctor 5">
                    <p>Dr. Nathan Silva <br> Neurólogo</p>
                </div>

                <div class="image-container">
                    <img src="../static/images/doctor6.jpeg" alt="Doctor 6">
                    <p>Dra. Pricilla Bunster <br> Psiquiatra</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; 2023 Reserva de Citas Medicas</p>
    </footer>
    <script src="../static/js/navbar.js"></script>
</body>
</html>
