<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Consultas Médicas</title>
    <link rel="stylesheet" type="text/css" href="../static/historial.css">
    <link rel="stylesheet" type="text/css" href="../static/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-........" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI/tTll2U6ZOGJmA9vC7bMx62p4IeZi1+admzOaA=" crossorigin="anonymous"></script>

</head>
<body>
    <div class="navbar" id="navbar">
        <div class="logo">
            <a href="/home">
                <img src="../static/images/logo.png" alt="Logo Clinica Osorno">
            </a>
        </div>
        <ul class="nav-links" id="navLinks">
            <li><a href="#about"><i class="fas fa-question-circle"></i> Ayuda</a></li>
            <li><a href="#contacto"><i class="fas fa-envelope"></i> Contacto</a></li>
            {% if 'rut' in session %}
                <li><a href="/mi_clinica"><i class="fas fa-user"></i> {{ session['rut'] }}</a></li>
                <li><a href="/cerrar_sesion"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a></li>
            {% else %}
                <li><a href="/login"><i class="fas fa-hospital"></i> MiClínica</a></li>
            {% endif %}
        </ul>
        <div class="menu-icon" id="menuIcon">&#9776;</div>
    </div>
    <h1>Historial de Consultas Médicas</h1>

    
    <table border="1">
        <thead>
            <tr>
                <th>Doctor Atendió</th>
                <th>Fecha Consulta</th>
                <th>Horario Consulta</th>
                <th>Estado</th>
                <th>Diagnóstico</th>
            </tr>
        </thead>
        <tbody>
            {% for consulta in consultas %}
            <tr>
                <td>{{ consulta.doctor_atendio }}</td>
                <td>{{ consulta.fecha_consulta }}</td>
                <td>{{ consulta.horario_consulta }}</td>
                <td>{{ consulta.estado }}</td>
                <td><a href="{{ url_for('descargar_diagnostico', consulta_id=consulta.id) }}">Descargar PDF</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="../static/js/navbar.js"></script>
</body>
</html>
