<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Consultas Médicas</title>
    <link rel="stylesheet" type="text/css" href="../static/historial.css">
    <link rel="stylesheet" type="text/css" href="../static/normalize.css">
</head>
<body>
    <h1>Historial de Consultas Médicas</h1>
    
    <label for="ordenarPor">Ordenar por:</label>
    <select id="ordenarPor" name="ordenar_por" onchange="submitForm(this)">
        <option value="nombre_paciente">Nombre</option>
        <option value="doctor_atendio">Doctor</option>
        <option value="fecha_consulta">Fecha</option>
        <option value="horario_consulta">Horario</option>
    </select>
    
    <table border="1">
        <thead>
            <tr>
                <th>Nombre Paciente</th>
                <th>Doctor Atendió</th>
                <th>Fecha Consulta</th>
                <th>Horario Consulta</th>
            </tr>
        </thead>
        <tbody>
            {% for consulta in consultas %}
            <tr>
                <td>{{ consulta.nombre_paciente }}</td>
                <td>{{ consulta.doctor_atendio }}</td>
                <td>{{ consulta.fecha_consulta }}</td>
                <td>{{ consulta.horario_consulta }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        function submitForm(selectElement) {
            var form = selectElement.closest('form');
            if (form) {
                form.submit();
            }
        }
    </script>
</body>
</html>
